<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | ucsb-bren/env-info</title>
    
    {% include in_header.html %}

  </head>
  <body>
    
    {% include before_body.html %}
    
    <div id="header">
      <h1 class="title">{{ page.title }}</h1>
      {% if page.subtitle %}
        <h4 class="date"><em>{{ page.subtitle }}</em></h4>
      {% endif %}
      <!--<h4 class="date"><em>{{ site.time | date_to_string }}</em></h4>-->
      <!--<h4 class="date"><em>{{ page.last_modified_at | date: '%F %H:%M' }}</em></h4>-->
    </div>
    
    {{ content }}
    {% include after_body.html %}
  </body>
</html>
